
<head>
</head>
<body>
	<div id='particles-js'>
		<div class = 'intro'>

			<h1 class="large-title-fixed"><br>Hey, I'm Sanjna</h1><br><br>
			<h2 class="fade-in two anyclass-c">I'm a software engineer from NYC who likes web development and writing.<br>
			I study at <a href = "http://www.nyu.edu"> New York University</h2>

				<div class='links fade-in three'>
	      <a href='mailto:dhruv@arora.io'>
	        <span class="fa-stack">
	          <i class='fa fa-circle fa-stack-2x'></i>
	          <i class='fa fa-envelope fa-stack-1x fa-inverse'></i>
	        </span>
	      </a>
	      <a href='http://twitter.com/shrububub'>
	        <span class="fa-stack">
	          <i class='fa fa-circle fa-stack-2x'></i>
	          <i class='fa fa-twitter fa-stack-1x fa-inverse'></i>
	        </span>
	      </a>
	      <a href='http://github.com/dhruvarora'>
	        <span class="fa-stack">
	          <i class='fa fa-circle fa-stack-2x'></i>
	          <i class='fa fa-github-alt fa-stack-1x fa-inverse'></i>
	        </span>
	      </a>
	      <a href='http://linkedin.com/in/dhruvarora013'>
	        <span class="fa-stack">
	          <i class='fa fa-circle fa-stack-2x'></i>
	          <i class='fa fa-linkedin fa-stack-1x fa-inverse'></i>
	        </span>
	      </a>
	      <a href='http://open.spotify.com/user/1235696176'>
	        <span class="fa-stack">
	          <i class='fa fa-circle fa-stack-2x'></i>
	          <i class='fa fa-spotify fa-stack-1x fa-inverse'></i>
	        </span>
	      </a>
	    </div>
		</div>
	</div>

</body>
