
<head>
need to add fonts
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>
<body>
	<div id='particles-js'>
		<div class = 'intro'>
			<h1 class = 'fade-in one'>Hey, I'm Sanjna</h1>
		</div>
	</div>

</body>